.nav-links {
    line-height: 40px;
}
.single-nav-link {
    color: white;
    text-decoration: none;
    margin-right: 18px;
    font-weight: 'bold';
}
.single-nav-link:hover {
    text-decoration: none;
}
